@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&family=Roboto+Condensed&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    .margin {
      margin: 144px auto;
    }
  }
}

html,
#__next,
body,
:host,
[data-rk] {
  /* background-color: #bc2a2c;*/
  padding: 0;
  margin: 0;
  height: 100%;
}

#art {
  filter: drop-shadow(-8px 8px 2px rgb(0 0 0 / 0.6));
}

#art-container * {
  display: flex !important;
  overflow: visible !important ;
}

@font-face {
  font-family: 'Transformers Movie';
  src: local('Transformers Movie'),
    url(/fonts/TransformersMovie.ttf) format('truetype');
}

[data-rk] {
  top: -40px;
}

[data-rk] .ju367v94 {
  display: flex !important;
  height: 100% !important;
  background-color: #1c1c1c !important;
  font-family: Roboto Condensed, cursive !important;
  border-radius: 0.375rem !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

[data-rk] .ju367v9p {
  display: flex !important;
  height: 100% !important;
  background-color: rgb(30 58 138 / var(--tw-bg-opacity)) !important;
  background-color: #1c1c1c !important;
  font-family: Roboto Condensed, cursive !important;
  border-radius: 0.375rem !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

[data-rk] .ju367v9v {
  background: transparent !important;
}

[data-rk] .ju367v9s {
  display: flex !important;
  height: 100% !important;
  /*background-color: #ae0000 !important;*/
  font-family: Roboto Condensed, cursive !important;
  border-radius: 0.375rem !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 0.9rem !important;
  padding-bottom: 0.9rem !important;
}

.pack-darken {
  mix-blend-mode: darken;
}

.pack-screen {
  mix-blend-mode: screen;
}

.pack-color-dodge {
  mix-blend-mode: color-dodge;
}

.pack-hard-light {
  mix-blend-mode: hard-light;
}

.pack-multiply {
  mix-blend-mode: multiply;
}

.packs {
  filter: drop-shadow(7px 7px 12px rgba(0, 0, 0, 0.6));
}

.shadow-light {
  filter: drop-shadow(5px 5px 25px rgba(40, 129, 255, 0.4));
}

.packs-multiply {
  mix-blend-mode: multiply;
}

.packs-overlay {
  mix-blend-mode: overlay;
}
